@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(95, 92, 92);
}


@media (max-width: 900px) {
    .searchbar {
        display: none; /* Hide search bar on smaller screens */
    }

    .connect-button-container {
        display: none; /* Hide connect button on smaller screens */
    }

    .dropdown-menu {
        display: none;
    }
}

@media (min-width: 901px) {
    .mobile-menu {
        display: none; 
    }
}


.ad img {
    object-fit: cover; /* Cover the entire area of the container */
    width: 100%;
    height: 100%;
}

/* Base styles for the ads container */
.ads-container {
    display: grid;
    gap: 1rem; /* Adjust gap as needed */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ensures flexibility */
}

/* 3x3 grid for screens wider than 1024px */
@media (min-width: 1024px) {
    .ads-container {
        grid-template-columns: repeat(3, 1fr); /* 3 columns */
    }
}

/* 2x3 grid for screens between 600px and 1023px */
@media (min-width: 600px) and (max-width: 1023px) {
    .ads-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
    }
}

/* 1x3 grid for screens under 600px */
@media (max-width: 599px) {
    .ads-container {
        grid-template-columns: repeat(1, 1fr); /* 1 column */
    }
}


/* For horizontal ads (16:9 aspect ratio) */
.ad-horizontal {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    background-color: #000;
    overflow: hidden;
}

.ad-horizontal img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* For vertical ads (9:16 aspect ratio) */
.ad-vertical {
    position: relative;
    width: 100%;
    padding-bottom: 177.78%; /* 9:16 aspect ratio */
    background-color: #000;
    overflow: hidden;
}

.ad-vertical img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tos-container {
    height: auto;
    overflow-y: auto;
  }