@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply transition-colors duration-200;
}


@media (max-width: 900px) {
    .searchbar {
        display: none; /* Hide search bar on smaller screens */
    }

    .nav-button {
        display: none; /* Hide connect button on smaller screens */
    }

    .dropdown-menu {
        display: none;
    }
    
    .items {
        display: none;
    }
}

@media (min-width: 901px) {
    .mobile-menu {
        display: none; 
    }
}


.ad img {
    object-fit: cover; /* Cover the entire area of the container */
    width: 100%;
    height: 100%;
}

/* Base styles for the ads container */
.ads-container {
    display: grid;
    gap: 1rem; /* Adjust gap as needed */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ensures flexibility */
}

/* 3x3 grid for screens wider than 1024px */
@media (min-width: 1024px) {
    .ads-container {
        grid-template-columns: repeat(3, 1fr); /* 3 columns */
    }
}

/* 2x3 grid for screens between 600px and 1023px */
@media (min-width: 600px) and (max-width: 1023px) {
    .ads-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
    }
}

/* 1x3 grid for screens under 600px */
@media (max-width: 599px) {
    .ads-container {
        grid-template-columns: repeat(1, 1fr); /* 1 column */
    }
}


/* For horizontal ads (16:9 aspect ratio) */
.ad-horizontal {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    background-color: #000;
    overflow: hidden;
}

.ad-horizontal img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* For vertical ads (9:16 aspect ratio) */
.ad-vertical {
    position: relative;
    width: 100%;
    padding-bottom: 177.78%; /* 9:16 aspect ratio */
    background-color: #000;
    overflow: hidden;
}

.ad-vertical img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tos-container {
    height: auto;
    overflow-y: auto;
  }

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Allow the filters to be fully displayed on smaller screens */
@media (max-width: 950px) {
    .buttons-container {
        justify-content: start;
    }
    .buttono {
        padding: 0.25rem 0.5rem; /* Adjust padding to make the height smaller */
        font-size: 0.75rem; /* Adjust font size if needed */
    }
}
.buttons-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for a cleaner look */
}

.buttono {
    background: transparent;
    margin: 1px 4px;
    border-radius: 5px;
    padding: 1px 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

/* Large screens */
@media (min-width: 1024px) {
    .about-container {
        padding: 2rem 9rem; /* px-36 py-8 */
        max-width: 64rem; /* max-w-4xl */
        margin: 0 auto; /* mx-auto */
    }
    .about-heading {
        font-size: 2.375rem; /* 38px */
        line-height: 2.25rem; /* 36px */
    }
    .about-subheading {
        font-size: 1.875rem; /* 30px */
        line-height: 2rem; /* 32px */
    }
}

/* Medium screens */
@media (max-width: 1023px) and (min-width: 768px) {
    .about-container {
        padding: 2rem 4rem; /* px-16 py-8 */
        max-width: 48rem; /* max-w-3xl */
        margin: 0 auto; /* mx-auto */
    }
    .about-heading {
        font-size: 2.25rem; /* 36px */
        line-height: 2.125rem; /* 34px */
    }
    .about-subheading {
        font-size: 1.75rem; /* 28px */
        line-height: 1.875rem; /* 30px */
    }
}

/* Small screens */
@media (max-width: 767px) {
    .about-container {
        padding: 1rem 2rem; /* px-8 py-4 */
        max-width: 100%; /* full width */
        margin: 0 auto; /* mx-auto */
    }
    .about-heading {
        font-size: 1.875rem; /* 30px */
        line-height: 2rem; /* 32px */
    }
    .about-subheading {
        font-size: 1.5rem; /* 24px */
        line-height: 1.75rem; /* 28px */
    }
    .buttons-container.buttono {
        padding: 0.25rem 0.5rem;
        font-size: 0.75rem;
    }
}

.navbar {
    position: fixed;
    z-index: 1000;
    background-color: white;
}

.icon-dark-mode {
    filter: invert(1) brightness(0) contrast(2);
}

.dark .icon-dark-mode {
    filter: invert(1) brightness(1) contrast(2);
}


.video-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem; /* Adjust gap as needed */
}

.video-item {
    width: 100%;
    transition: transform 0.3s ease, z-index 0.3s ease;
}

@media (max-width: 768px) {
    .video-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .video-container {
        grid-template-columns: 1fr;
    }
}

.channels-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.channel-item {
    flex: 0 1 calc(33.333% - 20px);
    position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
}

.channel-item video {
    width: 100%;
    height: 200px;
    transition: transform 0.3s ease, z-index 0.3s ease;
}

@media (max-width: 768px) {
    .channel-item {
        flex: 0 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .channel-item {
        flex: 0 1 100%;
    }
}

/* From Uiverse.io by PriyanshuGupta28 */
.pushable {
    position: relative;
    background: transparent;
    padding: 0px;
    border: none;
    cursor: pointer;
    outline-offset: 4px;
    outline-color: deeppink;
    transition: filter 250ms;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: hsl(226, 25%, 69%);
    border-radius: 8px;
    filter: blur(2px);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(
        to right,
        hsl(258, 71%, 5%) 0%,
        hsl(249, 87%, 3%) 8%,
        hsl(252, 83%, 2%) 92%,
        hsl(0, 0%, 0%) 100%
    );
  }
  
  .front {
    display: block;
    position: relative;
    border-radius: 8px;
    padding: 6px 12px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1rem;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .pushable:hover {
    filter: brightness(110%);
  }
  
  .pushable:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  .pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .pushable:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  .pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }

